/* First Part */
.banner-pic{
    width: 1320px;
    height: 600px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    border-radius: 16px;
    background: rgba(0, 0, 0, 0.7);
    background-size: cover;
    background-blend-mode: darken;
}
#heading1{
    position: absolute;
    top: 50%; 
    left: 50%; 
    top: 50px;
    transform: translate(-50%, -50%);
    color: #fff;
    text-align: center;
    font-family: Merriweather;
    font-size: 62px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
#heading2{
    position: absolute;
    top: 50%; 
    left: 50%; 
    top: 180px;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px; 
}
#heading3{
    position: absolute;
    top: 50%; 
    left: 50%; 
    top: 270px;
    transform: translate(-50%, -50%);
    color: #FFF;
    text-align: center;
    font-family: Merriweather;
    font-size: 72px;
    font-style: normal;
    font-weight: 900;
    line-height: 95px; 
}

/* Second Part */
.second-part h1{
    color: #F00;
    text-align: center;
    margin: 120px 0px;
    font-family: Inter;
    font-size: 88px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
#text1{
    color: #F00;
    text-align: center;
    margin: 45px 0px;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
#text2{
    color: #070211;
    text-align: center;
    margin-top: 20px;
    font-family: Inter;
    font-size: 48px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.hny-pic{
    width: 802.9px;
    height: 500px;
    width: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;

}